div {
	padding: 15px;
}

.book-carrousel {
	width: 100%;
	background-color: rgb(237 235 235);
	border-radius: 20px;
	display: flex;
	align-items: stretch;
	padding: 35px;
	justify-content: space-around;

}