div {
	padding: 15px;
}

.book-carrousel {
	width: 100%;
	background-color: rgb(237 235 235);
	border-radius: 20px;
	display: flex;
	align-items: stretch;
	padding: 35px;
	justify-content: space-around;

}

.book-container {
	border-radius: 10px;
	background-color: white;
}

.book-container img {
	border-radius: 10px;
	height: 235px;
	width: 100%;
}